<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>almost-ti.me</title>
  <meta name="description" content="A simpler way to create countdown clocks.">
  <meta name="author" content="almost-ti.me">

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>